.sidebar .row {
  margin-bottom: 15px;
}

.btns-top {
  text-align: center;
}

#function input[type='text'],
#restrictions input[type='text'] {
  width: 45px;
}

#restrictions {
  counter-reset: list;
}
#restrictions .number:before {
  counter-increment: list;
  content: counter(list) ".";
}
