.sidebar {
  .row {
    margin-bottom: 15px;
  }
}

.btns-top {
  text-align: center;
}

#function,
#restrictions {
  input[type='text'] {
    width: 60px;
  }
}

#restrictions {
  counter-reset: list -1;
  .number {
    &:before {
      counter-increment: list;
      content: counter(list) ".";
    }
  }
}